<ion-view >
 <ion-header-bar class=" bar-dark">
  <button class="button button-clear icon ion-ios7-arrow-back" onclick="javascript:history.go(-1)"></button>
  <h1 class="title">密码修改</h1>
 </ion-header-bar>
<ion-content class="has-header">
<form ng-submit="changePassword(oldPassword, newPassword,retypenewPassword)">
<div class="list list-inset">
  <label class="item item-input item-stacked-label">
    <input type="password" placeholder="旧密码" ng-model="oldPassword" required="required">
  </label>
</div>
<div class="list list-inset">
  <label class="item item-input item-stacked-label">
    <input type="password" placeholder="新密码" ng-model="newPassword" required="required">
  </label>
  <label class="item item-input item-stacked-label">
    <input type="password" placeholder="确认密码" ng-model="retypenewPassword" required="required">
  </label>
</div>
 <div class="list list-inset">
  <button  class="button   button-block   button-positive" type="submit">
                        确认修改
 </button>
</div>
</form>
</ion-content>
</ion-view>