
<ion-view >
 <ion-header-bar class=" bar-dark">
  <button class="button button-clear icon ion-ios7-arrow-back" onclick="javascript:history.go(-1)"></button>
  <h1 class="title">地图定位</h1>
  <button class="button button-clear button-icon icon ion-navicon " ng-click=show()></button>
</ion-header-bar>
    

<div id="allmap" style="width: 100%;height: 100%;overflow: hidden;margin:3% 0% 0% 0%;"></div>
  <!-- <ion-content>88% 75%
  </ion-content> -->
 <!-- 
<div class="bar bar-footer bar-balanced">
      <div class="title">Footer</div>
  </div> -->
</ion-view>