        <ion-view>
<ion-nav-bar class="bar-dark">
     <!-- <ion-nav-back-button class="button-clear icon ion-ios7-arrow-back"></ion-nav-back-button> -->
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <h1 class="title">当前任务</h1>
    </ion-nav-bar>
  <ion-content class="has-header">
       <ion-refresher pulling-text="下拉刷新" on-refresh="doReFresh()">
      </ion-refresher>
      <div class="card" ng-repeat="nTask in nTasks">
        
        <div class="item item-divider item-balanced">
          报关号:<span class="positive">{{nTask.custNo}}</span> &nbsp;&nbsp;
           流水号：<span class="positive">{{nTask.dispatchId}}</span>
        </div>

        <a class="item item-text-wrap item-icon-right" ng-click=TaskDetail(nTask)>
                    <div class="row">
                <div class="col col-center">
                    <h3>出发地:</h3>
                    <h4 class="positive">{{nTask.firstTerminal}}</h4>
                </div>

                <div class="col col-center">
                    <h3>目的地:</h3>
                    <h4 class="positive">{{nTask.secondTerminal}}</h4>
                </div>
                
                <div class="col col-center">
                    <h3>箱型:</h3>
                    <h4 class="positive">{{nTask.ctnSize}}</h4>
                </div>
               <div class="col col-center">
                    <h3>数量:</h3>
                    <h4 class="positive">{{nTask.ctnCount}}</h4>
                </div>
                </div>
                <div class="row">
                <div class="col col-center">
                    <h3>开始时间:</h3>
                    <h4 class="positive">{{nTask.beginTime | date:"yyyy-MM-dd hh:mm:ss" }}</h4>
                </div>

                <div class="col col-center">
                    <h3>结束时间:</h3>
                    <h4 class="positive">{{nTask.endTime | date:"yyyy-MM-dd hh:mm:ss" }}</h4>
                </div>
                
                <div class="col col-center">
                    <h3>车牌号:</h3>
                    <h4 class="positive">{{nTask.truckLic}}</h4>
                </div>
               <div class="col col-center">
                    <h3>最晚开始时间:</h3>
                    <h4 class="positive">{{nTask.latestStartTime | date:"yyyy-MM-dd hh:mm:ss" }}</h4>
                </div>
                </div>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
       <!--  <a class="item item-divider item-icon-right" href="#/location/{{nTask.GPS}}">
           在地图上查看
           <i class="icon ion-chevron-right icon-accessory"></i>
        </a> -->
      <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item assertive" ng-click="cancelTask(nTask.dispatchId)"> <i
        class="icon ion-checkmark"></i>取消任务
      </a> 
      <a class="tab-item assertive" ng-click="finishTask(nTask.dispatchId)"> <i
        class="icon ion-close"></i>结束任务
      </a> 
      <a class="tab-item calm" href="#/location/{{nTask.GPS}}"> <i
        class="icon ion-search"></i>地图查看
      </a> 
    </div>
    </div>
     <ion-infinite-scroll
            on-infinite="loadMore()"
            ng-if="moreDataCanBeLoaded"
            icon="ion-loading-c"
            distance="1%">
    </ion-infinite-scroll>
     <p style="color: lightskyblue;text-align: center" ng-if="!moreDataCanBeLoaded">没有更多的在途任务啦</p>
     <br>
  </ion-content>
</ion-view>
    
