<ion-view >
 <ion-header-bar class=" bar-dark">
  <button class="button button-clear icon ion-ios7-arrow-back" onclick="javascript:history.go(-1)"></button>
  <h1 class="title">个人信息</h1>
</ion-header-bar>
<ion-content class="has-header">
   <div class="list card">
           
            <div class="item ">
              <h2>用户名:{{userInfo.user_name}}</h2>
             <!--  <p ng-bind-html="result.compName"></p> -->
            </div>
            <div class="item item-body">
           <p>姓名:{{userInfo.full_name}}</p>
           <p>车牌号:{{userInfo.truck_lic}}</p>
           <p>driver_id:{{userInfo.driver_id}}</p>    
           </div>
		<!-- <div class="item tabs tabs-secondary tabs-icon-left">
			
		</div> -->
	
</ion-content>
</ion-view>